#add venv, .env pycache and other folders
# Virtual environment
venv/
# Environment variables file
.env
# Python bytecode
__pycache__/

#locally downloaded SLM models via ollama and their cache

ollama_models/
